{% extends 'base.html' %}

{% block head %}
<title>predict</title>

{% endblock %}

{% block body %}
<h2>predict</h2>

<hr>
<br>

<form action="/predict" , method="POST">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="satisfaction">satisfaction_level</label>
            <input class="form-control" type="number" , step="0.0001"
                name="satis" id="satis"
                placeholder="Enter satisfaction_level the max value is 1"
                aria-label="Enter satisfaction_level the max value is 1">
            <small id="satisfaction" class="form-text text-muted">This Field is
                required.</small>
            <br>

            <label for="evaluation">last_evaluation</label>
            <input class="form-control" type="number" , step="0.0001"
                name="eval" id="eval"
                placeholder="Enter last_evaluation the max value is 1"
                aria-label="Enter last_evaluation the max value is 1">
            <small id="evaluation" class="form-text text-muted">This Field is
                required.</small>
            <br>

            <label for="num_project">number_project</label>
            <input class="form-control" type="number" , step="1"
                name="num_pro" id="num_pro"
                placeholder="Enter number project"
                aria-label="Enter number project">
            <small id="num_project" class="form-text text-muted">This Field
                is
                required.</small>
            <br>

            <label for="average_montly_hours">average montly hours</label>
            <input class="form-control" type="number" , step="0.0001"
                name="avg_mon_h" id="avg_mon_h"
                placeholder="Enter average montly hours"
                aria-label="Enter average montly hours">
            <small id="avg_mon_h" class="form-text text-muted">This Field is
                required.</small>
            <br>

            <label for="time_spend_company">time spend company</label>
            <input class="form-control" type="number" , step="1"
                name="t_spend_comp" id="t_spend_comp"
                placeholder="Enter time spend company"
                aria-label="Enter time spend company">
            <small id="t_spend_comp" class="form-text text-muted">This Field
                is
                required.</small>
            <br>

            <label for="promotion_last_5years">promotion_last_5years</label>
            <select class="form-control" type="number"
                name="promotion_last_5years"
                id="promotion_last_5years"
                placeholder="Enter promotion_last_5years"
                aria-label="Enter promotion_last_5years">
                <option>0</option>
                <option>1</option>
            </select>
            <small id="promotion_last_5years" class="form-text text-muted">This
                Field is
                required.</small>
            <br>

            <label for="Work_accident">Work accident</label>
            <select class="form-control" type="number" name="Work_acc"
                id="Work_acc"
                placeholder="Enter Work accident if yes enter 1, if no enter 0"
                aria-label="Enter Work accident if yes enter 1, if no enter 0">
                <option>0</option>
                <option>1</option>

            </select>
            <small id="Work_acc" class="form-text text-muted">This Field is
                required.</small>
            <br>

            <label for="salary">salary</label>
            <select class="form-control"name="salary"
                id="salary"
                placeholder="Enter salary"
                aria-label="Enter salary">
                <option>low</option>
                <option>medium</option>
                <option>high</option>

            </select>
            <small id="salary" class="form-text text-muted">This Field is
                required.</small>
            <br>

            <input class="btn btn-success btn-lg btn-block" type="submit"
                value="Predict">
            <hr>
            <h5> left prediction is : {{ pred_vals }}</h5>
            <hr>
        </div>
    </form>
    {% endblock %}
